<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>系统</title>

<!--图标库-->
<!--<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>-->

<!--字体库-->
<!--<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap'>-->

<!--主要样式-->
<link href="../static/css/main.css" rel="stylesheet" />
<script type="text/javascript" src="../static/js/jquery.min.js" ></script>


</head>
<body>
	
	<div>
        <h1 id="wel">U(‾◡◝)</h1>
    </div>
    
<div>
	<div id="time">time</div>
</div>


{#<nav>#}
{#	<div id="title" style="color: #FCFCFC;margin:0 auto;width:20px;line-height:24px;margin-left: 20px;">#}
{#		<h >舆情分析系统</h>		#}
{#	</div>#}
{#	#}
{#	<div class="menu-btn">#}
{#		<div class="line line__1"></div>#}
{#		<div class="line line__2"></div>#}
{#		<div class="line line__3"></div>#}
{#	</div>#}
{##}
{#	<div class="sub-menu-btn">#}
{#			#}
{#		<div class="line line__1"></div>#}
{#		<div class="line line__2"></div>#}
{#		#}
{#	</div>#}
{#	#}
{#		#}
{#	<ul class="nav-links">#}
{#		#}
{#		<li class="link">#}
{#			<a href="#">首页</a>#}
{#		</li>#}
{#		<li class="link">#}
{#			<a href="#">敏感词..</a>#}
{#			<!--#}
{#            	<ol>#}
{#				<li><a href="#">designers</a></li>#}
{#				<li><a href="#">developers</a></li>#}
{#			</ol>#}
{#            -->#}
{#		</li>#}
{#		<li class="link">#}
{#			<a href="#">热点话题</a>#}
{#			<!--<ol>#}
{#				<li><a href="#">web</a></li>#}
{#				<li><a href="#">graphic </a></li>#}
{#				<li><a href="#">apps </a></li>#}
{#			</ol>-->#}
{#		</li>#}
{#		<li class="link">#}
{#			<a href="#">话题趋势</a>#}
{#			<!--<ol>#}
{#				<li><a href="#">Email</a></li>#}
{#				<li><a href="#">Social</a></li>#}
{#			</ol>-->#}
{#		</li>#}
{#		<li class="link">#}
{#			<a href="#">新闻动态</a>#}
{#			<ol>#}
{#				<li>#}
{#					<a target="_blank" href="">#}
{#						热点  <i class="fab fa-twitter"></i>#}
{#					</a>#}
{#				</li>#}
{#				<li>#}
{#					<a target="_blank" href="">#}
{#						实时  <i class="fab fa-codepen"></i>#}
{#					</a>#}
{#				</li>#}
{#			</ol>#}
{#		</li>#}
{#	</ul>#}
{#</nav>#}

<!--script在逻辑之后才能北调用-->
<script src="../static/js/script.js"></script>
<script src="../static/js/control.js"></script>
</body>
</html>